// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$letter-spacing-global: 0.5px;
$font-size-global: 16px;
$font-size-base: 1rem;
$line-height-base: 1.43;
$small-font-size: 14px;
$input-btn-font-size: 16px;

$h1-font-size: 56px;
$h1-line-height: 62px;
$h1-letter-spacing: 1.86667px;

$h2-font-size: 48px;
$h2-line-height: 56px;
$h2-letter-spacing: 1.65px;

$h3-font-size: 24px;
$h3-line-height: 27px;
$h3-letter-spacing: 0.7px;

$h4-font-size: 18px;
$h4-line-height: 27px;
$h4-letter-spacing: 0.583px;

$table-cell-padding-top: 47px;

// Colors
$primary: #5023CE;
$secondary: #3172FD;
$info: #3023AE;
$additional: #B8D9FF;
$text: #000000;
$white: #ffffff;
$gray: #7f7f7f;
$light-gray: #AFAFAF;
$bg-circle-color: #eff5fc;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "info": $info,
        "additional": $additional,
        "black": #000000,
        "light-gray": $light-gray,
        "gray": $gray,
);

$spacers: (
        20: 20px,
        30: 30px,
        40: 40px,
        60: 60px,
        80: 80px,
        90: 90px,
        100: 100px,
);

$card-border-radius: 2px;

$btn-border-radius: 100rem;
$input-border-radius: 100rem;
$dropdown-padding-y: 0;
$dropdown-font-size: 16px;
$dropdown-border-radius: 4px;
$dropdown-line-height: 60px;

$navbar-nav-link-padding-x: 0.9rem;
$nav-color: $gray;