@media screen and (max-width: 767px) {

  nav, .nav {
    .nav__top-menu {
      li {
        a {
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }
    }
  }

  section {
    margin-bottom: 120px;
  }

  .algorithm-item {
    position: relative;
    border-left: 2px solid #3172fd;
    padding-bottom: 2rem;

    .algorithm-item__header {
      border-bottom: none;
      height: auto;
      margin-bottom: 0;

      &:before, &:after {
        content: none !important;
      }
    }

    &:before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background: #3172fd;
      border-radius: 50%;
      left: -9px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &:after {
      position: absolute;
      bottom: -40px;
      opacity: 0.5;
    }
  }

  .contacts {
    .icon-location, .icon-phone-simple, .icon-mail {
      display: none;
    }
  }

  .btn-group-tabs {
    .btn-tab {
      font-size: 14px !important;
    }
  }

  .page-tree {
    display: flex;
    flex-direction: column;
    .page-tree__item {
      border-right: none;
      padding-left: 0 !important;
    }
  }
}