@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic');
@import "~@glidejs/glide/dist/css/glide.core.min.css";
@import "~@glidejs/glide/dist/css/glide.theme.min.css";
@import "~normalize.css";
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import "Glyphter.scss";

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/RobotoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/RobotoMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: $font-size-global;
  //letter-spacing: $letter-spacing-global;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  word-break: break-word;
}

h1, .h1 {
  line-height: $h1-line-height;
  letter-spacing: $h1-letter-spacing;
}

h2, .h2 {
  line-height: $h2-line-height;
  letter-spacing: $h2-letter-spacing;
}

h3, .h3 {
  line-height: $h3-line-height;
  letter-spacing: $h3-letter-spacing;
}

h4, .h4 {
  font-weight: normal;
  line-height: $h4-line-height;
  letter-spacing: $h4-letter-spacing;
}

small, .small {
  letter-spacing: 0.05px;
}

ul:not(.list-unstyled):not(.glide__slides):not(.navbar-nav):not(.nav) {
  margin-left: 0;
  padding-left: 10px;
  list-style: none;
  position: relative;
  line-height: 25px;

  li:before {
    color: $primary;
    content: "• ";
    font-family: arial, serif;
    position: absolute;
    left: 0;
  }

  &.list-big-markers {
    padding-left: 28px;
    li:before {
      font-size: 60px;
      line-height: 30px;
    }
  }
}

table, .table {
  tr:not(:first-of-type) {
    td {
      padding-top: $table-cell-padding-top;
      //padding: $table-cell-padding-top 0 0 0;
    }
  }

  &.table--no-left-pad {
    th, td {
      padding-left: 0 !important;
    }
  }

  &.table--align-middle {
    th, td {
      vertical-align: middle;
    }
  }
}

form.form-invalid {
  input:invalid {
    border-color: red;
  }

  .custom-control-input:invalid ~ .custom-control-label::before {
    border-color: red !important;
  }
}

.form-control {
  border-color: transparentize($secondary, 0.5);
}

.form-control:focus {
  border-color: $primary;
  box-shadow: none !important;
}

.btn, .input-group input, .form-control {
  box-shadow: none !important;
  min-height: 45px;
  line-height: 31px;
}

.btn {
  min-width: 150px;
}

.btn-link {
  color: $secondary;
  font-weight: 500;
  min-height: auto;
  min-width: auto;
  line-height: normal;
  padding-top: 0;
  padding-bottom: 0;
}

.modal {
  .modal-body {
    padding: 2rem 3rem;
  }
  button[data-dismiss=modal] {
    color: white;
    background: #5023CE;
    text-shadow: none;
    border: 1px solid #5023CE;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    font-weight: 400;
    right: 10px;
    top: 10px;
    vertical-align: middle;
    opacity: 1;
    &:hover {
      background: white;
      border: 1px solid #5023CE;
      color: #5023CE;
    }
  }
}

section {
  margin-bottom: 240px;
  position: relative;

  h1 {
    line-height: 62px;
  }

  &.bg-circle:before {
    content: "";
    position: absolute;
    background: $bg-circle-color;
    border-radius: 50%;
    z-index: -1;
  }

  &.bg-circle--1:before {
    width: 700px;
    height: 700px;
    top: -50px;
    left: -300px;
  }

  &.bg-circle--2:before {
    width: 450px;
    height: 450px;
    top: -270px;
    right: -150px;
  }

  &.bg-circle--3:before {
    width: 300px;
    height: 300px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -190px;
  }

  &.bg-circle--4:before {
    width: 700px;
    height: 700px;
    top: -470px;
    left: -300px;
  }

  &.bg-circle--5:before {
    width: 400px;
    height: 400px;
    bottom: -300px;
    left: -190px;
  }

  &.bg-circle--6:before {
    width: 300px;
    height: 300px;
    top: 0;
    bottom: -400px;
    margin: auto;
    left: -190px;
  }

  &.bg-circle--7:before {
    width: 350px;
    height: 350px;
    bottom: 50px;
    right: -150px;
  }

  &.bg-circle--8:before {
    width: 250px;
    height: 250px;
    top: 60px;
    left: -150px;
  }

  &.bg-circle--9:before {
    width: 450px;
    height: 450px;
    bottom: -500px;
    right: -150px;
  }

  &.bg-circle--10:before {
    width: 450px;
    height: 450px;
    margin: auto;
    top: -700px;
    bottom: 0px;
    right: -150px;
  }

  &.bg-img {
    min-height: 100vh;
    background-size: cover;
    position: relative;

    &.bg-img-blue:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: transparentize(#0D097F, 0.71);
    }
  }
}

footer, .footer {
  background: linear-gradient(90deg, $info 0.26%, #53A0FD 101.26%, #B4EC51 101.26%);
  font-weight: 100;
  padding: 50px 0;

  a {
    color: white !important;
  }

  li a {
    opacity: 0.65;
    text-decoration: none !important;
    &:hover {
      opacity: 1;
    }
  }

  .footer__phone {
    font-size: 20px;
    letter-spacing: 0.66px;
    font-weight: normal;
  }

  .footer__email {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.6px;
  }
}

.btn-primary {
  @include button-variant($primary, $primary, $white, $additional, $white, $primary);
  &:hover {
    color: $primary !important;;
  }

  &.disabled, &[disabled] {
    opacity: 0.29;
    color: $primary;
    background: white;
  }
}

.btn-secondary {
  @include button-variant($secondary, $secondary, $white, $additional, $white, $secondary);
  &:hover {
    color: $secondary !important;
  }
}

.btn-light {
  @include button-variant($white, $secondary, $secondary, transparentize($white, 0.71), $secondary, $white);
  color: $secondary;
  &:hover {
    color: $white !important;;
  }
}

.btn-circle {
  width: 50px;
  height: 50px;
  min-width: auto;
  padding: 16px;
  border-radius: 50%;
  text-align: center;
  line-height: 1;

  &.btn-sm {
    width: 39px;
    height: 39px;
    min-height: 39px;
    padding: 13px;
    font-size: 0.7rem;
  }

  &.btn-primary {
    @include button-variant($primary, $primary, $white, $primary, $white, transparentize($primary, 0.71));
    &:hover {
      color: $primary;
    }

    &:active {
      color: transparentize($primary, 0.71) !important;
    }

    &.disabled, &[disabled] {
      opacity: 0.29;
      color: $primary;
      background: white;
    }
  }

  &.btn-secondary {
    @include button-variant($secondary, $secondary, $white, $secondary, $white, transparentize($secondary, 0.71));
    &:hover {
      color: $primary;
    }

    &:active {
      color: transparentize($primary, 0.71) !important;
    }

    &.disabled, &[disabled] {
      opacity: 0.29;
      color: $primary;
      background: white;
    }
  }

}

.btn-group-tabs {
  overflow: hidden;
  border: 1px solid $primary;
  border-radius: 100rem;
  box-sizing: content-box;

  .btn-tab {
    @include button-variant($white, #00000000, $primary, #00000000, $additional, $additional);
    color: $secondary;
    border-radius: 0;
    cursor: pointer;
    line-height: 45px;
    font-size: 18px !important;
    height: 60px;
    min-width: auto;

    &:not(:first-of-type):not(.active):before {
      content: "";
      width: 1px;
      background: rgba(49, 114, 253, 0.4);
      height: 80%;
      position: absolute;
      top: 10%;
      left: 0;
    }

    &.active + .btn-tab:before {
      background: #ffffff00;
    }

    &:hover, &:active {
      color: white !important;
    }

    &.active {
      background: $primary !important;
      border: 1px solid $primary !important;
      color: $white !important;
    }
  }
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-apperance: none;
  height: 14px;
  padding: 0;
  background: #024069;
  border-radius: 100rem;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-apperance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
  border: none;
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.custom-control-label {
  min-height: 1rem;
}

.custom-checkbox {
  .custom-control-label::before {
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 0;
    border-color: $secondary;
    box-shadow: none;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      color: $secondary;
      background-color: #ffffff;
      font-family: 'Glyphter';
      content: "A";
      transform: rotate(90deg);
      font-size: 0.65rem;
      text-align: center;
    }
    &:after {
      background-image: none;
    }
  }
}

.custom-radio {
  padding-left: 1.6rem;
  .custom-control-label:before {
    left: -1.5rem;
    box-shadow: 0px 0px 0px 2px $secondary;
    border: none;
  }

  .custom-control-input:checked ~ .custom-control-label {
    &:before {
      color: #ffffff;
      border: solid 2px #ffffff;
      background-color: $secondary;
      box-shadow: 0px 0px 0px 2px $secondary;
    }
    &:after {
      background-image: none;
    }
  }
}

nav, .nav {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05px;
  color: $gray;

  .nav-item a {
    color: #555555;

    &:hover {
      color: $secondary;
    }
  }

  .nav__top-menu {
    font-size: 16px;
    color: #1F1F1F;

    li {

      a {
        color: #1F1F1F;
        padding-top: 0;
        padding-bottom: 0;
        border-right: 1px solid rgba(31, 31, 31, 0.1);

      }

      &:last-of-type {
        a {
          border-right: none;
        }
      }
    }
  }

  .nav__form {
    .input-group, button {
      height: 45px;
    }
  }

  .nav__phone {
    letter-spacing: 0.657px;
  }
}

.page-tree {
  font-size: 14px;
  margin-bottom: 90px;
  letter-spacing: 0.381818px;
  .page-tree__item {
    color: $additional;
    border-right: 1px solid $additional;
    padding: 0 2rem;
    &:hover {
      color: $secondary;
      text-decoration: none;
    }
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
      border-right: 0;
    }
  }
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
  font-size: 18px;
  letter-spacing: 0.5625px;
  color: black;
  .service-item__img-wrap {
    display: flex;
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease-in;
  }
}

a.service-item {
  text-decoration: none !important;
  &:hover {
    color: $secondary;
    .service-item__img-wrap {
      transform: scale(1.1);
    }
  }
}

.best-offers-wrap {
  background: linear-gradient(90deg, #3023AE 0.26%, #53A0FD 101.26%, #B4EC51 101.26%);
  .best-offers {
    .best-offers__text {
      z-index: 2;
    }

    .best-offers__image-wrap {
      img {
        width: 100%;
        margin-top: -180px;
        height: 30rem;
        max-height: initial;
      }
    }
  }
}

.offers-slider {
  .offer {
    background: linear-gradient(90deg, $info 0.26%, #53A0FD 101.26%, #B4EC51 101.26%);
    min-height: 350px;
    position: relative;
    h1 {
      line-height: 62px;
    }

    .offer__text {
      position: relative;
      z-index: 2;
      padding-top: 40px;
      padding-bottom: 160px;
    }

    .offer__bg-image {
      position: absolute;
      bottom: 0;
      right: 0;
      max-height: 100%;
    }

    .btn-secondary {
      background: #0064FB;
      &:hover {
        background: white;
        color: #0064FB;
      }
    }

    .offer__btn {
      min-width: 150px;
    }
  }

  .offers-slider__controls {
    margin-top: -130px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
    padding: 0;

    .btn {
      background: #5023CE;;
      &:hover {
        background: white;
        color: #5023CE;
      }
    }
  }
}

.dropdown-menu {
  box-shadow: 0px 0px 20px #E0DEE1;
  border: none;
  border-radius: $dropdown-border-radius;

  .dropdown-item {
    line-height: $dropdown-line-height;

    &:hover, &.active {
      background: $secondary;
      color: $white !important;
    }
  }
}

.card {
  transition: all 0.1s ease-in;
  border: none;
  font-size: 18px;

  .card-body {
    flex: 0 0 auto;
    padding: 40px;
  }

  .card-title {
    color: $secondary;
    //height: 80px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.7px;
    display: inline-flex;
    align-items: center;
  }

  &.card-bg-additional {
    background: $additional;
    color: #3172FD;
    &:hover {
      z-index: 2;
      transform: scale(1.1);
      background: $primary;
      color: white;

      .card-title {
        color: white;
      }

      .btn-secondary {
        background: white;
        color: $secondary;
      }
    }
  }

  &.card-bg-white {
    background: $white;

    &:hover {
      z-index: 2;
      transform: scale(1.1);
      background: $primary;
      color: white;

      .card-title {
        color: white;
      }

      .btn-secondary {
        background: white;
        color: $secondary;
      }
    }
  }

  &.card-horizontal {
    height: 300px;
    min-height: 250px;
    color: white;
    background: $primary;
    border-radius: 0;
    border: 1px solid #5023ce;
    padding: 40px 0;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.5px;
    justify-content: center;

    .card-title {
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 42px;
      color: white;
      letter-spacing: 1.05px;
    }

    &:hover {
      z-index: 2;
      background: white;
      color: $secondary;
      text-decoration: none;

      .card-title {
        color: $secondary;
      }
    }
  }

  &.card-shadow {
    box-shadow: 0px 14px 52px rgba(171, 171, 171, 0.5);
  }
}

.questions-item {
  .questions-item__index {
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 1.2px;
  }
  .questions-item__text {
    letter-spacing: 0.5px;
  }
}

.product-preview-card {
  a {
    color: black;
    text-decoration: none !important;
    font-weight: 500;

    &:hover {
      color: $secondary;

      img {
        transform: scale(1.1);
      }
    }

    img {
      margin-bottom: 10px;
      transition: transform 0.1s ease-in;
    }

    div {
      padding: 0 50px;
    }
  }
}

.project-preview-card {
  .project-preview-card__date {
    opacity: 0.5;
    font-weight: 500;
  }

  &:hover {
    .project-preview-card__date {
      opacity: 1;
    }

    img {
      opacity: 1;
    }
  }

  img {
    opacity: 0.5;
  }
}

.article-preview-card {
  .article-preview-card__date {
    opacity: 0.5;
    font-weight: 500;
  }

  &:hover {
    color: $primary;

    .article-preview-card__date {
      opacity: 1;
    }
  }
}

.specialist-preview-card {
  color: #1F1F1F;
  cursor: pointer;

  .specialist-card__avatar-wrap {
    margin-right: 26px;
    flex: 0 0 185px;
    max-width: 35%;
  }

  &:hover {
    text-decoration: none;
    color: #1F1F1F;
    .specialist-card__name {
      color: $secondary;
    }
  }
}

.specialist-card {
  padding: 2rem;
}

.review-card {
  line-height: 23px;
  letter-spacing: 0.3px;
  .review-card__video-wrap {
    background: $primary;
    height: 326px;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-circle {
      font-size: 0.7rem;
    }
  }

  .card-body {
    padding: 1.5rem 1.5rem 40px;
  }

  .review-card__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  .review-card__text {
    margin-bottom: 40px;
  }

  .btn {
    font-size: 18px;
  }
}

.price {
  .price__tabs {
    a {
      padding: 47px 0 22px 0;
      color: $gray;
      &:first-of-type {
        padding-top: 12px;
      }

      &:hover, &.active {
        color: $secondary;
      }
    }
  }

  .price-table {
    padding: 0;
    .price-table__caption {
      min-width: 229px;
    }
    .price-table__price {
      letter-spacing: -0.72px;
      white-space: nowrap;
      font-weight: bold;
      padding: 0 3rem;
      text-align: center;
    }
  }
}

.calculator {
  font-size: 18px;

  .btn-link {
    font-size: 18px;
  }
}

[data-toggle="collapse"] {
  .icon-arrow-down:before {
    transition: transform 0.1s ease-in;
  }

  &[aria-expanded="true"] {
    .icon-arrow-down:before {
      transform: rotate(270deg);
    }
  }
}

.doughnut {
  position: relative;
  //width: 100%;
  //height: 100%;

  .doughnut__text {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40%;
    height: 0;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.algorithm-item {
  .algorithm-item__header {
    font-weight: bold;
    color: black;
    border-bottom: 2px solid #3172fd;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
    position: relative;
    height: 5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &:before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background: #3172fd;
      border-radius: 50%;
      bottom: -8px;
      left: 0;
      right: 0;
      margin: auto;
    }

    &:after {
      position: absolute;
      bottom: -55px;
      opacity: 0.5;
    }
  }

  &:nth-of-type(1) .algorithm-item__header:after {
    content: "1 неделя";
  }
  &:nth-of-type(2) .algorithm-item__header:after {
    content: "5-7 дней";
  }
  &:nth-of-type(3) .algorithm-item__header:after {
    content: "3 недели";
  }

  .algorithm-item__text {
    padding: 0 10px;
    line-height: 23px;
  }
}

.contacts {
  .icon-location, .icon-phone-simple, .icon-mail {
    color: #3172FD;
    vertical-align: middle;
    margin-left: -30px;
    width: 25px;
    display: inline-block;
    text-align: center;
  }
}

.why-we {
  h1 {
    font-size: 64px;
  }
}

//.life-easier{
//  h3{
//    font-size: 24px;
//  }
//}

@import 'app-sm';
@import 'app-md';