@font-face {
  font-family: 'Glyphter';
  src: url('../fonts/Glyphter.eot');
  src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Glyphter.woff') format('woff'),
  url('../fonts/Glyphter.ttf') format('truetype'),
  url('../fonts/Glyphter.svg#Glyphter') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*='icon-'] {
  &:before {
    display: inline-block;
    font-family: 'Glyphter';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &.icon-sm:before {
    font-size: 0.6rem;
  }
}

.icon-phone:before {
  content: '\0045';
}

.icon-search:before {
  content: '\0046';
}

.icon-telegram:before {
  content: '\0047';
}

.icon-triangle-left:before {
  content: '\0048';
}

.icon-triangle-right:before {
  content: '\0048';
  transform: rotate(180deg)
}

.icon-triangle-up:before {
  content: '\0048';
  transform: rotate(90deg)
}

.icon-triangle-down:before {
  content: '\0048';
  transform: rotate(-90deg)
}

.icon-whatsapp:before {
  content: '\0049';
}

.icon-arrow-left:before {
  content: '\0041';
  transform: rotate(180deg)
}

.icon-arrow-right:before {
  content: '\0041';
}

.icon-arrow-up:before {
  content: '\0041';
  transform: rotate(-90deg)
}

.icon-arrow-down:before {
  content: '\0041';
  transform: rotate(90deg)
}

.icon-caret-right:before {
  content: '\0042';
}

.icon-caret-down:before {
  content: '\0042';
  transform: rotate(90deg)
}

.icon-caret-left:before {
  content: '\0042';
  transform: rotate(180deg)
}

.icon-caret-up:before {
  content: '\0042';
  transform: rotate(-90deg)
}

.icon-close:before {
  content: '\0043';
}

.icon-location:before {
  content: '\004a';
}

.icon-mail:before {
  content: '\004b';
}

.icon-phone-simple:before {
  content: '\004c';
}

.icon-hamburger:before {
  content: '\004d';
}