.uikit {
  section, .uikit-section {
    margin: 112px 0;

    .uikit-section__header {
      color: #474647;
    }
  }

  .colors {
    .colors-item {
      text-align: center;
      .colors-item__circle {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin: auto auto 10px auto;
      }
    }
  }

  .typography {
    .typography__items {
      * {
        margin-bottom: 26px;
      }

      .btn {
        padding: 0;
        border: none !important;
        user-select: auto;
      }

      .nav {
        padding: 0;
      }

    }
  }

  .typography-sample {
    .typography-sample__caption {
      color: #474647;
      margin-bottom: 27px;
    }
  }
}